*{
    margin: 0;
    padding: 0;
}
header{
    background-color: bisque;
}
.item tr ,th {
    /* border: 1px solid black; */
    width: 150px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.item input {
    border: 1px solid black;
    width: 200px;
}